[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
build = "*"
molecule = "~=5.0"

[dev-packages]
ansible-lint = "~=24.0"
pycodestyle = "~=2.0"

[requires]
python_version = "3.12"
