---
- name: Create
  hosts: localhost
  gather_facts: false
  no_log: "{{ molecule_no_log }}"

  vars:
    molecule_ephemeral_directory: "{{ lookup('env', 'MOLECULE_EPHEMERAL_DIRECTORY') }}"
    molecule_scenario_name: "{{ lookup('env', 'MOLECULE_SCENARIO_NAME') }}"
    molecule_project_name: "{{ lookup('env', 'MOLECULE_PROJECT_DIRECTORY') | basename }}"
    qemu_vm_arch: "x86_64"
    qemu_vm_memory: "1024"

  tasks:
    - name: Register VMs data
      ansible.builtin.set_fact:
        instance: {
          "instance": "molecule-{{ molecule_project_name }}-{{ molecule_scenario_name }}-{{ item.name }}",
          "name": "{{ item.name }}",
          "vm_arch": "{{ item.vm_arch | default(qemu_vm_arch) }}",
          "vm_image": "{{ item.vm_image }}",
          "vm_image_format": "{{ item.vm_image_format | default('qcow2') }}",
          "vm_memory": "{{ item.vm_memory | default(qemu_vm_memory) }}",
          "vm_ssh_host": "{{ item.vm_ssh_host | default('127.0.0.1') }}",
          "vm_ssh_port": "{{ item.vm_ssh_port | default(10022) }}",
          "vm_ssh_user": "{{ item.vm_ssh_user | default('debian') }}",
          "vm_run_pidfile": "{{ molecule_ephemeral_directory }}/run/{{ item.name }}.pid",
          "vm_run_diskfile": "{{ molecule_ephemeral_directory }}/run/{{ item.name }}.qcow2",
        }
      loop: "{{ molecule_yml.platforms }}"
      loop_control:
        label: "{{ item.name }}"
      register: molecule_instances

    - name: Prepare VMs data
      ansible.builtin.set_fact:
        molecule_instances: "{{ molecule_instances.results | map(attribute='ansible_facts.instance') | list }}"

    - name: Validate VMs configuration
      ansible.builtin.assert:
        that:
          - molecule_instances is defined
          - molecule_instances | length > 0
          - molecule_instances | length == molecule_yml.platforms | length
          - molecule_instances | map(attribute='vm_ssh_port') | list | unique | length == molecule_instances | length
        fail_msg: "Molecule instances are not properly defined"
        success_msg: "Molecule instances are properly defined"

    - name: Validate supported VMs configuration
      ansible.builtin.assert:
        that:
          - item.vm_arch in ['x86_64', 'aarch64']
        fail_msg: "Molecule instance {{ item.name }} configuration is not supported"
        success_msg: "Molecule instance {{ item.name }} configuration is supported"
      loop: "{{ molecule_instances }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Create run directory exists
      ansible.builtin.file:
        path: "{{ molecule_ephemeral_directory }}/run/"
        state: directory
        mode: "0755"

    - name: Generate OpenSSH key pair
      community.crypto.openssh_keypair:
        path: "{{ molecule_ephemeral_directory }}/run/id_ed25519"
        type: ed25519
      register: vm_ssh_keypair


    - name: Create VMs disks based on provided image
      ansible.builtin.command: >
        qemu-img create
        -f qcow2
        -o backing_file={{ item.vm_image }},backing_fmt={{ item.vm_image_format }}
        {{ item.vm_run_diskfile }}
      args:
        creates: "{{ item.vm_run_diskfile }}"
      loop: "{{ molecule_instances }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Create cloud-init folders
      ansible.builtin.file:
        path: "{{ molecule_ephemeral_directory }}/run/cloud-init/{{ item.name }}/"
        state: directory
        mode: "0755"
      loop: "{{ molecule_instances }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Render meta-data template
      ansible.builtin.template:
        src: templates/meta-data.j2
        dest: "{{ molecule_ephemeral_directory }}/run/cloud-init/{{ item.name }}/meta-data"
        mode: "0644"
      loop: "{{ molecule_instances }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Render user-data template
      ansible.builtin.template:
        src: templates/user-data.j2
        dest: "{{ molecule_ephemeral_directory }}/run/cloud-init/{{ item.name }}/user-data"
        mode: "0644"
      loop: "{{ molecule_instances }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Create cloud-init iso using mkisofs
      ansible.builtin.command: >
        mkisofs
        -output {{ molecule_ephemeral_directory }}/run/cloud-init/{{ item.name }}.iso
        -volid cidata
        -joliet
        -rock
        {{ molecule_ephemeral_directory }}/run/cloud-init/{{ item.name }}/
      args:
        creates: "{{ molecule_ephemeral_directory }}/run/cloud-init/{{ item.name }}.iso"
      loop: "{{ molecule_instances }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Launch VMs  # noqa: no-changed-when
      ansible.builtin.command: >
        qemu-system-{{ item.vm_arch }}
        -boot d
        -cdrom {{ molecule_ephemeral_directory }}/run/cloud-init/{{ item.name }}.iso
        -hda {{ item.vm_run_diskfile }}
        -m {{ item.vm_memory }}
        -net nic
        -net user,hostfwd=tcp::{{ item.vm_ssh_port }}-:22
        -display none
        -daemonize
        -pidfile {{ item.vm_run_pidfile }}
      loop: "{{ molecule_instances }}"
      loop_control:
        label: "{{ item.name }}"

    - name: Wait for SSH to be ready
      ansible.builtin.wait_for:
        host: "{{ item.vm_ssh_host }}"
        port: "{{ item.vm_ssh_port }}"
        delay: 5
        timeout: 180
        search_regex: "OpenSSH"
      loop: "{{ molecule_instances }}"
      loop_control:
        label: "{{ item.name }}"
      async: 300
      poll: 0
      register: qemu_launch

    - name: Wait for launch jobs to finish
      ansible.builtin.async_status:
        jid: "{{ item.ansible_job_id }}"
      loop: "{{ qemu_launch.results }}"
      loop_control:
        label: "{{ item.item.name }}"
      register: qemu_launch_status
      until: qemu_launch_status.finished
      retries: 30
      delay: 10

    - name: Prepare VMs config dict
      ansible.builtin.set_fact:
        instance_conf_dict: {
          "instance": "{{ item.instance }}",
          "name": "{{ item.name }}",
          "address": "{{ item.vm_ssh_host }}",
          "user": "{{ item.vm_ssh_user }}",
          "port": "{{ item.vm_ssh_port }}",
          "identity_file": "{{ vm_ssh_keypair.filename }}",
          "pidfile": "{{ item.vm_run_pidfile }}",
          "diskfile": "{{ item.vm_run_diskfile }}",
        }
      loop: "{{ molecule_instances }}"
      loop_control:
        label: "{{ item.name }}"
      register: instance_config_dict

    - name: Prepare VMs config list
      ansible.builtin.set_fact:
        instance_conf: "{{ instance_config_dict.results | map(attribute='ansible_facts.instance_conf_dict') | list }}"

    - name: Dump VMs config
      ansible.builtin.copy:
        content: "{{ instance_conf | to_json | from_json | to_yaml }}"
        dest: "{{ molecule_instance_config }}"
        mode: "0644"
